autogluon==1.4.0
autogluon.common==1.4.0
autogluon.core==1.4.0
autogluon.features==1.4.0
autogluon.multimodal==1.4.0
autogluon.tabular==1.4.0
autogluon.timeseries==1.4.0
lightgbm==4.6.0
numpy==2.3.3
optuna==4.5.0
pandas==2.3.2
scikit_learn==1.7.2
xgboost==3.0.5
ydata_profiling==4.17.0
